<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('background_pool.jpg') %>)">
  <div class="container">
    <h1>Pick a <strong>pool</strong> and get cool!</h1>
    <p>Just add some unicorn floater.</p>
    <%= link_to pools_path, class: "btn btn-flat" do %>
      <i class="fas fa-water"></i> Rent Now
    <% end %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
