.container-show {
  display: block;
  width: 1200px;
  height: 800vh;
  margin: 20px auto;
  padding: 16px;
  border-radius: 5px;
  padding: 10px;
  color: $blue;
  font-size: 20px;
}

.card-show {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.map-show{
  border-radius: 8px;
}

.row-image-map {
  padding: 16px;
  justify: space-between;
}
.card-img-info img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-img-info {
  padding-top: 5px;
}

.info{
  margin-top: 30px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 23px;
  width: 48vh;
  border-radius: 8px;
}

.calendar-form .btn-flat {
  font-size: 16px;
  padding: 8px 24px;
}

.btn-back .btn-ghost{
  text-align: center;
}

.card-map-calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.input-calendar {
  width:30%;
  margin-bottom: 10px;
}


.card-map{
  border-radius: 8px;
  height: 400px;
  width: 80%;
  margin-top: 7px;
  position: sticky;
}

.photo-calendar-description {
  padding: 0;
  margin: 16px;
}

.near {
  margin-top: 40px;
}

