.container{
  width: 1000px;
  margin: 20px auto;
}


.my_card {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 10px;
  color: blue;
}
.my_card img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.my_card p{
  margin-bottom: 0px;
}


.datepicker {
  width: 100%;
}


.card-map-calendar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
