.main-container {
  display: flex;
}

.pools-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  grid-gap: 20px;
  padding: 30px;
  background-color: white;
}

.card-pool {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 8px;
}
.card-pool-height{
  min-height: 30vh;
  background-size: cover;
}

.card-pool-infos h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: $blue;
}

.card-pool-infos p {
  font-size: 16px;
  opacity: .7;
  margin: 0;
  color: $blue;
  font-weight: lighter;
}

.card-pool img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

.card-pool-infos {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px;
}
